@import "tailwindcss";

@theme {
  --space-inside-x: calc(var(--spacing) * 4);
  --space-inside-y: calc(var(--spacing) * 16);

  --color-background-primary: var(--color-white);
  --color-background-secondary: var(--color-slate-200);

  --color-foreground-primary: var(--color-neutral-900);
  --color-foreground-secondary: var(--color-white);
}


@layer utilities {
  hgroup {
    @apply max-w-5/12 text-center;
  }
  h1 {
    @apply font-bold text-5xl mb-6;
  }
  h2 {
    @apply font-bold text-4xl mb-6;
  }
  section {
    @apply py-(--space-inside-y) px-(--space-inside-x);
  }
  strong {
    @apply font-bold text-xl;
  }
  dl {
    @apply grid gap-6 grid-cols-3;
  }
  dt {
    @apply font-bold text-xl;
  }
  dd {
    @apply text-sm;
  }
}

@utility drag-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer custom {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-start {
    @apply flex justify-start items-center;
  }
 }